<div class="card m-5">
  <div class="card-header bg-dark text-light">

    <div class="row">
      <div class="col-sm-8">
        <h3>{{post.postTitle}}</h3>
      </div>
      <div class="col-sm-4">
        Posted by {{post.user.username}} on {{post.postDate}}
      </div>
    </div>

  </div>

  <div class="card-body">
    <p>
      {{post.postContent}}
    </p>

  </div>
</div>

<div class="card m-5">
  <div class="card-header bg-dark text-light">
    <div class="row">
      <div class="col-sm-12">
        <h3>Comment</h3>
      </div>
      
    </div>

  </div>

  <div class="card-body">

    <div class="row">
      <div class="form-group col-sm-12">
        {{!-- <label for="postContent">Content</label> --}}
        <br />
        <form action="/comment" method="post">
          <input type="hidden" id="postId" name="postId" value="{{post.id}}"/>
          <textarea class="form-input w-100" id="commentContent" name="commentContent"></textarea>
          <input type="submit" class="btn btn-primary w-100" value="Submit Comment"/>
        </form>
      </div>
    </div>

  </div>